<nav class="container-fluid navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid col-12  ">
    <!-- Liens -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="bi bi-list fs-4 float-start text-dark"></i></a>
      </li>
    </ul>
    <div class="collapse navbar-collapse " id="navbarBibliotheque ">
      <form class="d-flex ms-auto">
        <input  class="form-control me-2 " type="search" placeholder="Rechercher un livre">
        <button class="btn btn-outline-dark bg-white text-dark " type="submit">Rechercher</button>
      </form>
      <!-- Auth -->
      <ul class="navbar-nav ms-auto ms-5">
        <li class="nav-item dropdown ">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
          >
            {{ nom }}
          </a>

          <ul class="dropdown-menu shadow rounded-3 me-auto">

            <li>
              <a class="dropdown-item" routerLink="/profil">
                <i class="bi bi-person bg-secondary-subtle rounded-2 px-1 p-0.5"></i>
                Mon Profil
              </a>
            </li>

            <li>
              <a class="dropdown-item" href="#">
                <i class="bi bi-question-circle bg-secondary-subtle rounded-2 px-1 p-0.5"></i>
                Aide
              </a>
            </li>

            <li><hr class="dropdown-divider"></li>

            <li>
              <button
                class="dropdown-item text-danger"
                (click)="logout()">
                <i class="bi bi-box-arrow-right bg-danger-subtle rounded-2 px-1 p-0.5"></i>
                Déconnexion
              </button>
            </li>

          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>

