<nav class="navbar navbar-expand bg-white shadow-sm col-12 ">
  <div class="container-fluid">

    <!-- Breadcrumb / titre -->
    <div class="d-flex align-items-center gap-2 mon-div">
      <i class="bi bi-house-door"></i>
      <span class="text-muted">Tableau de bord</span>
    </div>

    <!-- Partie droite -->
    <div class="ms-auto d-flex align-items-center gap-3">

      <!-- Notifications -->
<!--      <div class="position-relative">-->
<!--        <i class="bi bi-bell fs-5"></i>-->
<!--        <span-->
<!--          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">-->
<!--          3-->
<!--        </span>-->
<!--      </div>-->

      <!-- Profil utilisateur -->
      <div class="dropdown">
        <a
          class="d-flex align-items-center text-decoration-none dropdown-toggle"
          href="#"
          data-bs-toggle="dropdown"
        >
          <!-- Avatar -->
          <div class="avatar me-2">
            {{ userInitials }}
          </div>

          <!-- Nom -->
          <span class="fw-semibold">
            {{ user?.prenom }}
            {{user?.nom}}
          </span>
        </a>

        <!-- Menu -->
        <ul class="dropdown-menu dropdown-menu-end shadow">
          <li>
            <a class="dropdown-item" routerLink="/profil">
              <i class="bi bi-person bg-secondary-subtle rounded-2 px-1 p-0.5"></i>
              Mon profil
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/aide">
              <i class="bi bi-question-circle bg-secondary-subtle rounded-2 px-1 p-0.5"></i>
              Aide
            </a>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li>
            <button class="dropdown-item text-danger" (click)="logout()">
              <i class="bi bi-box-arrow-right bg-danger-subtle rounded-2 px-1 p-0.5"></i>
              Déconnexion
            </button>
          </li>
        </ul>
      </div>

    </div>
  </div>
</nav>
