<div class="container-fluid min-vh-100">
  <div class="row vh-100 g-0">

    <!-- Card Image -->
    <div class="col-12 col-md-6">
      <div class="card h-100 rounded-3 shadow">
        <div class="card-body d-flex align-items-center justify-content-start p-3">

          <div class="position-absolute container-fluid col-12 text-primary  fw-bold bg-white h-25 w-100 shadow p-1">
            <div class="ms-5 p-4   ">

              <h4 class="text-center p-3 my-2 position-absolute text-center shadow  ms-5 moving-all-directions " >
<!--                <i class="bi rounded-circle bg-primary  text-white bi-person-fill bi-person "></i><br>-->
                FORMULAIRE D'INSCRIPTION
              </h4>
            </div>
          </div>
          <img
            src="assets/images/img_2.png"
            alt="Illustration bibliothèque"
            class="img-fluid h-100 w-100 object-fit-cover float-start me-3" width="200"
          />

        </div>
      </div>
    </div>

    <!-- Card Formulaire -->
    <div class="col-12 col-md-6 ">
      <div class="card h-100 rounded-0 shadow ">
        <div class="text-center my-2 ">
          <div class="bg-primary text-white rounded-circle d-inline-flex
                          align-items-center justify-content-center"
               style="width:80px;height:80px;">
            <i class="bi bi-person-fill fs-1"></i>
          </div>
          <div class="overflow-hidden">
            <p class="text-primary fw-bold fs-5 mb-0 ">
              VEUILLEZ-VOUS INSCRIRE !
            </p>
          </div>


        </div>
        <div class="card-body p-4 overflow-auto ">


          <div class="container-fluid col-8 shadow ">

          </div>

          <div *ngIf="message"
               class="alert"
               [ngClass]="erreur ? 'alert-danger' : 'alert-success'">
            {{ message }}
          </div>
          <div class="container-fluid  col-12 col-md-12 shadow ">
            <form (ngSubmit)="onSubmit()" [formGroup]="formInscription" >

             <div class="d-flex gap-2 ms-4">
               <!-- Nom -->
               <div class="mb-3 position-relative">
                 <label for="nom" class="form-label">Nom</label>

                 <div class="input-group">
                    <span class="input-group-text">
                         <i class="bi bi-person position-absolute top-50 start-0 translate-middle-y  text-primary ms-1"></i>
                    </span>
                    <input type="text" id="nom" class="form-control ps-5" placeholder="Nom"
                          formControlName="nom"
                          [ngClass]="{'is-invalid': isInvalid('nom')}">
                 </div>

                 <div class="invalid-feedback" *ngIf="isInvalid('nom')">
                   <div *ngIf="formInscription.get('nom')?.errors?.['required']">Le nom est obligatoire</div>
                   <div *ngIf="formInscription.get('nom')?.errors?.['minlength']">Minimum 2 caractères</div>
                 </div>
               </div>

               <!-- Prénom -->
               <div class="mb-3 position-relative">
                 <label for="prenom" class="form-label">Prénom</label>
                 <div class="input-group">
                   <span class="input-group-text">
                     <i class="bi bi-person-badge position-absolute top-50 start-0 translate-middle-y ms-1 text-primary"></i>
                   </span>

                   <input type="text" id="prenom" class="form-control ps-5" placeholder="Prénom"
                          formControlName="prenom"
                          [ngClass]="{'is-invalid': isInvalid('prenom')}">

                 </div>

                 <div class="invalid-feedback" *ngIf="isInvalid('prenom')">
                   <div *ngIf="formInscription.get('prenom')?.errors?.['required']">Le prénom est obligatoire</div>
                   <div *ngIf="formInscription.get('prenom')?.errors?.['minlength']">Minimum 2 caractères</div>
                 </div>
               </div>

             </div>

              <div class="d-flex gap-2 ms-4">
                <!-- Email -->
                <div class="mb-3 position-relative">
                  <label for="email" class="form-label">Email</label>
                  <div class="input-group">
                    <span class="input-group-text">
                       <i class="bi bi-envelope position-absolute top-50 start-0 translate-middle-y ms-1 text-primary "></i>
                    </span>
                    <input type="email" id="email" class="form-control ps-5" placeholder="Email"
                           formControlName="email"
                           [ngClass]="{'is-invalid': isInvalid('email')}">
                  </div>
                  <div class="invalid-feedback" *ngIf="isInvalid('email')">
                    <div *ngIf="formInscription.get('email')?.errors?.['required']">L'email est obligatoire</div>
                    <div *ngIf="formInscription.get('email')?.errors?.['email']">Format email invalide</div>
                  </div>
                </div>

                <!-- Nom d'utilisateur -->
                <div class="mb-3 position-relative">
                  <label for="username" class="form-label">Nom d'utilisateur</label>
                  <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-person-circle position-absolute top-50 start-0 translate-middle-y ms-1 text-primary"></i>
                    </span>
                    <input type="text" id="username" class="form-control ps-5" placeholder="Nom d'utilisateur"
                           formControlName="username"
                           [ngClass]="{'is-invalid': isInvalid('username')}">

                  </div>
                  <div class="invalid-feedback" *ngIf="isInvalid('username')">
                    <div *ngIf="formInscription.get('username')?.errors?.['required']">Le nom d'utilisateur est obligatoire</div>
                    <div *ngIf="formInscription.get('username')?.errors?.['minlength']">Minimum 4 caractères</div>
                  </div>
                </div>
              </div>

             <div class="d-flex gap-2 ms-4">
               <!-- Mot de passe -->
               <div class="mb-3 position-relative">
                 <label for="password" class="form-label">Mot de passe</label>
                 <div class="input-group">
                   <span class="input-group-text">
                     <i class="bi bi-lock position-absolute top-50 start-0 translate-middle-y ms-1 text-primary "></i>
                   </span>
                   <input type="password" id="password" class="form-control ps-5" placeholder="Mot de passe"
                          formControlName="password"
                          [ngClass]="{'is-invalid': isInvalid('password')}">
                 </div>
                 <div class="invalid-feedback" *ngIf="isInvalid('password')">
                   <div *ngIf="formInscription.get('password')?.errors?.['required']">Le mot de passe est obligatoire</div>
                   <div *ngIf="formInscription.get('password')?.errors?.['minlength']">Minimum 6 caractères</div>
                 </div>
               </div>

               <!-- Téléphone -->
               <div class="mb-3 position-relative">
                 <label for="telephone" class="form-label">Téléphone</label>
                 <div class="input-group">
                   <span class="input-group-text">
                     <i class="bi bi-telephone position-absolute top-50 start-0 translate-middle-y ms-1 text-primary "></i>
                   </span>
                   <input type="text" id="telephone" class="form-control ps-5" placeholder="Téléphone"
                          formControlName="telephone"
                          [ngClass]="{'is-invalid': isInvalid('telephone')}">
                 </div>
                 <div class="invalid-feedback" *ngIf="isInvalid('telephone')">
                   <div *ngIf="formInscription.get('telephone')?.errors?.['required']">Le numéro de téléphone est obligatoire</div>
                   <div *ngIf="formInscription.get('telephone')?.errors?.['pattern']">Numéro invalide (9 chiffres)</div>
                 </div>
               </div>
             </div>
            <div class="d-flex gap-2 ms-4">
              <!-- Carte d'identité -->
              <div class="mb-3 position-relative ">
                <label for="carteIdentite" class="form-label">Carte d'identité</label>
                <div class="input-group">
                  <span class="input-group-text ">
                     <i class="bi bi-credit-card position-absolute top-50 start-0 translate-middle-y ms-1  text-primary "></i>
                  </span>
                  <input type="text" id="carteIdentite" class="form-control ps-5" placeholder="Carte d'identité"
                         formControlName="carteIdentite"
                         [ngClass]="{'is-invalid': isInvalid('carteIdentite')}">
                </div>
                <div class="invalid-feedback" *ngIf="isInvalid('carteIdentite')">
                  <div *ngIf="formInscription.get('carteIdentite')?.errors?.['required']">La carte d'identité est obligatoire</div>
                  <div *ngIf="formInscription.get('carteIdentite')?.errors?.['minlength']">Minimum 5 caractères</div>
                </div>
              </div>
            </div>
              <!-- Bouton soumettre -->
              <button type="submit" class="btn btn-primary h-50 w-25 my-3 ms-4 ">
                S'inscrire
              </button>
            </form>
          </div>
          <div class="container-fluid w-100 shadow my-1 d-flex gap-2 bg-primary-subtle">

            <p class="ms-5 justify-content-end ">
              deja un compte ! <a href="connexion">je me connecte</a>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
