aside {
  width: 250px;
  height: 100vh;           /* prend toute la hauteur de l’écran */
  transition: width 0.3s;
  overflow: hidden;
  background-color: #343a40; /* couleur pour voir la sidebar */
  position: fixed;          /* reste visible au scroll */
  top: 0;
  left: 0;
}

aside.collapsed {
  width: 80px;
}

.nav-link i {
  min-width: 25px; /* Pour aligner les icônes avec le texte */
}

.sidebar-footer img {
  width: 35px;
  height: 35px;
}

.avatar {
  width: 38px;
  height: 38px;
  background-color: #0d6efd;
  color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

cursor-pointer {
  cursor: pointer;
}

.card:hover {
  transform: scale(1.03);
  transition: 0.2s ease-in-out;
}

