 <div class="d-flex">

    <!-- SIDEBAR -->
    <aside class="sidebar p-3 d-flex flex-column">

      <!-- Logo -->
      <div class="d-flex align-items-center gap-2 mb-3">
        <span class="fs-3 fw-bold bg-dark text-white px-2 rounded">B</span>
        <span class="fs-5 fw-semibold">Bibliotheque</span>
      </div>

      <hr>

      <!-- Menu -->
      <ul class="nav nav-pills flex-column gap-2 mb-auto">

        <li class="nav-item">
          <a class="nav-link bg-secondary-subtle text-dark" href="dashboard">
            <i class="bi bi-speedometer2 text-tabac"></i>
            Dashboard
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link bg-dark-subtle text-dark" href="#">
            <i class="bi bi-person gap-5 text-white"></i>
            Author
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link bg-secondary-subtle text-dark" href="#">
            <i class="bi bi-book gap-5 text-brown"></i>
            book
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link bg-primary-subtle text-dark" href="emprunt-form">
<!--            <i class="bi bi-house text-white"></i>-->
            <i class="bi bi-bookmark-plus text-primary"></i>
            Emprunt
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link bg-dark-subtle text-dark" href="#">
            <i class="bi bi-table text-white"></i>
            Cathalogue
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link bg-primary-subtle text-dark" href="#">
                <i class="bi bi-person-fill gap-5 text-primary"></i>
            User
          </a>
        </li>


      </ul>

      <hr>

      <!-- Profil -->
<!--      <div class="sidebar-footer d-flex align-items-center gap-2">-->
<!--        <img src="https://i.pravatar.cc/40" class="rounded-circle" alt="profil">-->
<!--        <span class="fw-semibold">{{nom}}</span>-->
<!--        <i class="bi bi-caret-down-fill ms-auto"></i>-->
<!--      </div>-->

    </aside>
 </div>
