  <table class="table  table-bordered mt-3">
  <thead class="table-secondary">
  <tr>
    <th>ID</th>
    <th>Livre</th>
    <th>Utilisateur</th>
<!--    <th>Date Emprunt</th>-->
    <th>Statut</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let e of emprunts">
    <td>{{ e.idEmprunt }}</td>
    <td>{{ e.livre?.titre }}</td>
    <td>{{ e.utilisateur?.prenom }}</td>
<!--    <td>{{e.emprunt?.dateEmprunt}}</td>-->
    <td><span class="badge bg-info-subtle text-dark">{{ e.statut }}</span></td>
    <td>
      <button class="btn btn-outline-success btn-sm me-1" (click)="valider.emit(e.idEmprunt)">Valider</button>
      <button class="btn btn-outline-warning btn-sm me-1" (click)="refuser.emit(e.idEmprunt)">Refuser</button>
      <button class="btn btn-outline-secondary btn-sm me-1" (click)="retourner.emit(e.idEmprunt)">Retour</button>
      <button class="btn btn-outline-danger btn-sm" (click)="supprimer.emit(e.idEmprunt)">Supprimer</button>
    </td>
  </tr>
  </tbody>
</table>
